.treeSpeedSelector {
  /* position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background-color: #000000;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.5s ease; */
  /* background-color: var(--tertiary-color); */
}

.treeOptionInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.treeInsertionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.treeInsertionInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* https://cdn.dribbble.com/users/342196/screenshots/4495275/search_picker.png?resize=400x0 */
.treeOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.treeOptionsContainer h3 {
  /* remove h3 styling */
  margin: 0 0 10px 0;
  font-size: 1.3rem;
}

.treeOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  font-weight: 600;
}

.treeOptionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fanoutSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fanoutSelectorItem {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fanoutSelector > button {
  background-color: #f0eff4;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  color: #858489;
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34);
}

.treeFanout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

#tree-option-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
